<form class="fig-altSubmit" autocomplete="off" action="/idp/interaction/<%= uid %>/signup" method="post">
	<% if (flash) { %>
	<div class="form-error signup-error mdc-elevation--z4 mdc-ripple-surface" data-mdc-auto-init="MDCRipple">
		<i class="material-icons mdc-icon-button__icon">error</i>
		<p><%= flash %></p>
	</div>
	<% } %>

	<div class="signup-text-inputs">
		<div class="mdc-text-field mdc-text-field--outlined mdc-theme--primary" data-mdc-auto-init="MDCTextField">
			<input required minlength="1" name="given_name" type="text" class="mdc-text-field__input" autofocus="on" />
			<div class="mdc-notched-outline">
				<div class="mdc-notched-outline__leading"></div>
				<div class="mdc-notched-outline__notch">
					<label for="tf-outlined" class="mdc-floating-label">First Name</label>
				</div>
				<div class="mdc-notched-outline__trailing"></div>
			</div>
		</div>

		<div class="mdc-text-field mdc-text-field--outlined mdc-theme--primary" data-mdc-auto-init="MDCTextField">
			<input required minlength="1" name="family_name" type="text" class="mdc-text-field__input" />
			<div class="mdc-notched-outline">
				<div class="mdc-notched-outline__leading"></div>
				<div class="mdc-notched-outline__notch">
					<label for="tf-outlined" class="mdc-floating-label">Last Name</label>
				</div>
				<div class="mdc-notched-outline__trailing"></div>
			</div>
		</div>

		<div class="mdc-text-field mdc-text-field--outlined mdc-theme--primary" data-mdc-auto-init="MDCTextField">
			<input required minlength="1" name="email" type="email" class="mdc-text-field__input" autocomplete="username" />
			<div class="mdc-notched-outline">
				<div class="mdc-notched-outline__leading"></div>
				<div class="mdc-notched-outline__notch">
					<label for="tf-outlined" class="mdc-floating-label">Email</label>
				</div>
				<div class="mdc-notched-outline__trailing"></div>
			</div>
		</div>

		<div
			class="mdc-text-field mdc-text-field--outlined mdc-theme--primary mdc-text-field--with-trailing-icon"
			data-mdc-auto-init="MDCTextField"
		>
			<input required minlength="6" name="password" type="password" class="mdc-text-field__input" autocomplete="current-password" />
			<button
				type="button"
				aria-hidden="true"
				id="show-password"
				aria-pressed="false"
				class="mdc-icon-button"
				aria-label="Show Password"
				data-mdc-auto-init="MDCIconButtonToggle"
			>
				<i class="material-icons mdc-icon-button__icon">visibility_off</i>
				<i class="material-icons mdc-icon-button__icon mdc-icon-button__icon--on">visibility</i>
			</button>
			<div class="mdc-notched-outline">
				<div class="mdc-notched-outline__leading"></div>
				<div class="mdc-notched-outline__notch">
					<label for="tf-outlined" class="mdc-floating-label">Password</label>
				</div>
				<div class="mdc-notched-outline__trailing"></div>
			</div>
		</div>
	</div>

	<div class="signup-buttons">
		<button type="submit" class="mdc-button mdc-button--raised" data-mdc-auto-init="MDCRipple">
			<span class="mdc-button__ripple"></span>
			Sign-up
		</button>
	</div>
</form>
