:root {
	--mdc-theme-primary: #2a2f56;
	--mdc-theme-secondary: #3f3f3f;
	--mdc-theme-background: #f5f5f5;
	--mdc-theme-error: #b00020;
}

// MARK: DISABLE FOCUS
.mdc-ripple-upgraded--background-focused::before {
	opacity: 0 !important;
}

.mdc-checkbox.mdc-ripple-upgraded--background-focused .mdc-checkbox__ripple::before,
.mdc-checkbox:not(.mdc-ripple-upgraded):focus .mdc-checkbox__ripple::before {
	opacity: 0 !important;
}

.mdc-button .mdc-button__ripple::before,
.mdc-button .mdc-button__ripple::after {
	opacity: 0 !important;
}

// MARK: TEXT FIELD
.mdc-text-field {
	width: 100%;
}

.mdc-text-field:not(:first-child) {
	margin-top: 12px;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
	color: rgba(0, 0, 0, 0.6);
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
	color: var(--mdc-theme-primary);
}

.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-floating-label {
	color: var(--mdc-theme-error);
}

.mdc-text-field--with-trailing-icon {
	display: flex;
	flex-direction: row;
	align-items: center;

	button {
		color: rgba(0, 0, 0, 0.651);
	}
}

.mdc-card {
	width: 100%;
	display: flex;
	cursor: pointer;
	padding: 8px 16px;
	border-radius: 4px;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	.mdc-card-wrapper__text-section {
		display: flex;
		flex-direction: column;
		.select-account-card__title {
			font-family: Roboto, sans-serif;
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-size: 1.25rem;
			line-height: 2rem;
			font-weight: 500;
			letter-spacing: 0.0125em;
			text-decoration: inherit;
			text-transform: inherit;
		}

		.select-account-card__subhead {
			font-family: Roboto, sans-serif;
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-size: 0.875rem;
			line-height: 1.25rem;
			font-weight: 400;
			letter-spacing: 0.0178571429em;
			text-decoration: inherit;
			text-transform: inherit;
			opacity: 0.6;
		}
	}

	.mdc-icon-button {
		opacity: 0.6;
	}
}
